<ion-header>
        <ion-navbar color="michelinblue">
              
            <button ion-button icon-only menuToggle start>
                <ion-icon name="menu" style="font-size:  xx-large"></ion-icon>
            </button>
            <ion-label class="header_text">{{"avg_cost_of_tread" | translate}}<span style="color:#FCE500">{{"1retread"|translate}}</span></ion-label>
            
            <ion-buttons end>
                    <button class="topTitleNextButton" (click)="openHomePage();">
                            <!-- <button class="topTitleNextButton" (click)="openHomePage();"> -->
                            <label>{{"Back" | translate}}</label>
                        </button>
        </ion-buttons>
        </ion-navbar>
    </ion-header>

   
          
    <ion-content padding>
         <div id="retread1">
            <ion-row style="background:rgb(235, 235, 235); margin-left:-20px;margin-right:-20px; margin-top:-15px;">
                <ion-col  width-25 style="margin-left:2%" >
                    <!-- <ion-item no-lines class="top-border"> -->
                            <!-- {{"date" | translate}} -->
                        <ion-label class="common_header" ><b>{{"date" | translate}}</b></ion-label>
                        <ion-label class="top-border1"></ion-label>
                    <!-- </ion-item> -->
                        <!-- <ion-label class="common_label">{{"xx/xx/2017" | translate}}</ion-label> -->
                        <ion-datetime  class="common_label" style="margin-left:5px;" displayFormat="MM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
                    </ion-col>
            
                    <ion-col width-25 >
                    <!-- <ion-item no-lines class="top-border"> -->
                        <ion-label class="common_header"><b>{{"deliveredTo" | translate}}</b></ion-label>  
                        <ion-label class="top-border1"></ion-label>            
                        <!-- </ion-item> -->
                        <!-- <ion-label class="common_label">{{"TPS xxxxxxxxxx" | translate}}</ion-label>
                        <ion-label class="common_label">{{"Rue Auguste perrin 69630 Chaponost" | translate}}</ion-label>
                        <ion-label class="common_label">{{"TPS de xxxxxxxxxx" | translate}}</ion-label> -->
    
                        <ion-label class="common_label" *ngIf="company != ''"> {{company}} </ion-label>
                        <ion-label class="common_label" *ngIf="addrees != '' && customerZipCode != ''" >{{addrees}} {{customerZipCode}} </ion-label>
                        <ion-label class="common_label" *ngIf="customerCity != ''">{{customerCity}} </ion-label>
                        <ion-label class="common_label" *ngIf="customerName != ''">{{customerName}}</ion-label>
                        <ion-label class="common_label" *ngIf="customerPhone != ''">{{customerPhone}}</ion-label>
                    </ion-col>
            
                    <ion-col width-25 >
                    <!-- <ion-item no-lines class="top-border"> -->
                        <ion-label class="common_header"><b>{{"deliveredBy" | translate}}</b></ion-label>
                        <ion-label class="top-border2"></ion-label>
                        <!-- </ion-item> -->
                        <!-- <ion-label class="common_label">{{"KEVIN ROUVERENT" | translate}}</ion-label>
                        <ion-label class="common_label">{{"06 59 89 59 79" | translate}}</ion-label> -->
    
                        <ion-label class="common_label" *ngIf="userName != ''">{{userName}}</ion-label>
                   <ion-label class="common_label" *ngIf="userEmail != ''">{{userEmail}}</ion-label>
                </ion-col>
            </ion-row>
            
    
            <p> <br>  </p> 
            <p> <br>  </p> 
            <ion-grid no-padding >
                    <ion-row style="margin-left:2%;width:96%;height:70px">
                            <ion-col width-100 >
                                <ion-row text-wrap>
                                        <ion-col>
                                                <!-- <ion-item no-lines class="first-row-item">
                                                    <ion-label class="common-label"><b>{{"michelin" | translate}}</b></ion-label>                    
                                                </ion-item> -->
                                        </ion-col>
            
                                        <ion-col >
                                            <span>
                                                <img src="assets/imgs/logo1.png  ">
                                            </span>                    
                                                                 
                                        </ion-col>
                                        
                                        <ion-col col-md class="retread1-custom-col-css14">
                                            <span>
                                                <img src="assets/imgs/logo2.png"   *ngIf="logoId_Retread_1 == 2">
                                                <img src="assets/imgs/logo3.png"  *ngIf="logoId_Retread_1 == 3">
                                            </span>                                          
                                         
                                        </ion-col>
            
                                       
            
                                                     
            
                                        <ion-col col-md class="retread1-custom-col-css10" style="margin-left: 1%">
                                              
                                        </ion-col>
                    
                                       
                                    
                                        
            
                                        <ion-col col-md class="retread1-custom-col-css10" style="margin-left: 1%">
                                              
                                        </ion-col>
            
                                </ion-row>
            
                            </ion-col>
                        </ion-row>
            
                <ion-row style="margin-left:2%;width:96%">
                    <ion-col width-100 >
                        <ion-row text-wrap>
                                <ion-col>
                                        <!-- <ion-item no-lines class="first-row-item">
                                            <ion-label class="common-label"><b>{{"michelin" | translate}}</b></ion-label>                    
                                        </ion-item> -->
                                </ion-col>
    
                                <ion-col >
                                                         
                                </ion-col>
                                
                                <ion-col col-md class="retread1-custom-col-css12" (click) ="brandViewShow_Retread_1()">
                                        
    
                                    <!-- <button  class ="ion-icon-arrow down" (click) ="brandViewShow()"></button> -->
    
                                    <div class="arrow-down">
    
                                       
                                    </div>
                                    <span> {{"brandchoice" | translate}} </span>
    
                                    <!-- <ul class="dropdown-content" *ngIf ="isBrandView_Retread_1 == 0">
                                
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(1)"><img src="assets/imgs/logo1.png"  width="60%" height="60%"></a>
                                            </span>
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(2)"><img src="assets/imgs/logo2.png"  width="60%" height="60%"></a>
                                            </span>
                                            
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(3)"><img src="assets/imgs/logo3.png"  width="60%" height="60%"></a>
                                            </span>
                                    </ul> -->
    
                                    <!-- <ul class="dropdown-content" *ngIf ="isBrandView_Retread_1 == 1">
                                
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(2)"><img src="assets/imgs/logo2.png"  width="80%" height="80%"></a>
                                            </span>
                                            
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(3)"><img src="assets/imgs/logo3.png"  width="80%" height="80%"></a>
                                            </span>
                                    </ul> -->
    
                                    <ul class="dropdown-content" *ngIf ="isBrandView_Retread_1 == 2">
                                
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(2)"><img src="assets/imgs/logo2.png" ></a>
                                            </span>
                                                                                    
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(3)"><img src="assets/imgs/logo3.png" ></a>
                                            </span>
                                    </ul>
    
                                    <ul class="dropdown-content" *ngIf ="isBrandView_Retread_1 == 3">
                                
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(2)"><img src="assets/imgs/logo2.png" ></a>
                                            </span>
                                            <span>
                                            <a href="#" title="Select this card" (click)="brandViewSelection_Retread_1(3)"><img src="assets/imgs/logo3.png"  ></a>
                                            </span>
                                            
                                           
                                    </ul>
                                          
                                 
                                </ion-col>
    
                                
                                
    
                                <ion-col col-md class="retread1-custom-col-css10" style="margin-left: 1%">
                                      
                                </ion-col>
            
                            
                                
    
                                <ion-col col-md class="retread1-custom-col-css10" style="margin-left: 1%">
                                      
                                </ion-col>
    
                        </ion-row>
    
                    </ion-col>
                </ion-row>
    
                <ion-row style="margin-left:2%;width:96%">
                        <ion-col width-100 >
                            <ion-row text-wrap>
                                    <ion-col col-md class="retread1-custom-col-css2">
                                            <!-- <ion-item no-lines class="first-row-item">
                                                <ion-label class="common-label"><b>{{"michelin" | translate}}</b></ion-label>                    
                                            </ion-item> -->
                                    </ion-col>
        
                                    <ion-col col-md class="retread1-custom-col-css">
                                            <div id = "price_of_newdiv"  [ngStyle]="{'height': '15px','over-flow':'scroll !important', 'font-size': fontAdjustmentService.calculateFontSize('price_of_newdiv')}">   
                                                    {{"price_of_new" | translate}}      </div>             
                                    </ion-col>
                                    
                                    <ion-col col-md class="retread1-custom-col-css" *ngIf="logoId_Retread_1 == 2">
                                            <div id = "first_retread_pricediv"  [ngStyle]="{'height': '15px','over-flow':'scroll !important', 'font-size': fontAdjustmentService.calculateFontSize('first_retread_pricediv')}">   

                                        {{"first_retread_price" | translate}}   </div>                 
                                     
                                    </ion-col>

                                    <ion-col col-md class="retread1-custom-col-css15" *ngIf="logoId_Retread_1 == 3">
                                            <div id = "first_retread_price2div"  [ngStyle]="{'height': '15px','over-flow':'scroll !important', 'font-size': fontAdjustmentService.calculateFontSize('first_retread_price2div')}">   

                                        {{"first_retread_price" | translate}}    </div>                
                                     
                                    </ion-col>
        
                                   
        
                                   
                            <!-- </ion-row>
                        </ion-col>
                        
                        <ion-col  width-40  style="margin-left: 2%">
                            <ion-row text-wrap> -->
        
                                    <ion-col col-md class="retread1-custom-col-css3" style="margin-left: 1%"*ngIf="logoId_Retread_1 == 2">
                                            <div id = "first_retread_acceptancediv"  [ngStyle]="{'height': '15px','over-flow':'scroll !important', 'font-size': fontAdjustmentService.calculateFontSize('first_retread_acceptancediv')}">   
                                                    {{"first_retread_acceptance" | translate}}</div>
                                    </ion-col>

                                    <ion-col col-md class="retread1-custom-col-css15" style="margin-left: 1%"*ngIf="logoId_Retread_1 == 3">
                                            <div id = "first_retread_acceptance2div"  [ngStyle]="{'height': '15px','over-flow':'scroll !important', 'font-size': fontAdjustmentService.calculateFontSize('first_retread_acceptance2div')}">   

                                        {{"first_retread_acceptance" | translate}}</div>
                                 </ion-col>
                
                                   
                                
                                 
        
                                    <ion-col col-md class="retread1-custom-col-css1" style="margin-left: 1%">
                                            <div id = "avg_cost_of_treaddiv"  [ngStyle]="{'height': '15px','over-flow':'scroll !important', 'font-size': fontAdjustmentService.calculateFontSize('avg_cost_of_treaddiv')}">   
  
                                        {{"avg_cost_of_tread" | translate}}</div>
                                    </ion-col>
        
                            </ion-row>
        
                        </ion-col>
                    </ion-row>
    
                <ion-row style="margin-left:2%;width:96%">
                    <ion-col width-100 >
                        <ion-row text-wrap>
                                <ion-col col-md class="retread1-custom-col-css4">
                                        {{"michelin" | translate}}
                                    
                                </ion-col>
    
                                <ion-col col-md class="retread1-custom-col-css4">
                                    <!-- <ion-item> -->
                                        <div style="margin-top:5px">
                                                <input enumber ng-model-options="{ updateOn: 'blur' }" (focus)="focusValue('mich_price_of_new')" (blur)="captureScreen()" (keypress)="restrictNumeric($event)" (ngModelChange)="calculate_mich_avg_cost(1,$event,false,'mich_price_of_new')"  type="text" [ngModel]="mich_price_of_new | number:0"  class="big-input" placeholder="0" style="text-align:right;width:50%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: normal;">
                                                <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}}</span>
                                        </div>

                                    <!-- </ion-item> -->
                                       
                                </ion-col>
                                
                                <ion-col col-md class="retread1-custom-col-css4">
                                    <!-- <ion-item> -->
                                        <div style="margin-top:5px">
                                                <input enumber ng-model-options="{ updateOn: 'blur' }" (focus)="focusValue('mich_price_1st_retread')" (blur)="captureScreen()" (keypress)="restrictNumeric($event)" (ngModelChange)="calculate_mich_avg_cost(2,$event,false,'mich_price_1st_retread')" type="text"  [ngModel]="mich_price_1st_retread | number :0" class="big-input" placeholder="0" style="text-align:right;width:50%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: normal;">
                                                <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}}</span>
                                        </div>
                                                        
                                    <!-- </ion-item> -->
                                </ion-col>
    
                                
    
                               
                        <!-- </ion-row>
                    </ion-col>
                    
                    <ion-col  width-40  style="margin-left: 2%">
                        <ion-row text-wrap> -->
    
                                <ion-col col-md class="retread1-custom-col-css6" style="margin-left: 1%">
                                    <!-- <ion-item> -->
                                        <div style="margin-top: 5px">
                                                <input enumber ng-model-options="{ updateOn: 'blur' }" (focus)="focusValue('mich_1st_retread_acceptance')" (blur)="captureScreen()" (keypress)="restrictNumeric($event)" (change)="calculate_mich_avg_cost(0,$event,true,'mich_1st_retread_acceptance')"  type="number" [(ngModel)]="mich_1st_retread_acceptance" class="big-input" placeholder="0" style="text-align:right;width:50%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: normal;">
                                                <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{"%"}}</span>
                                        </div>
                                    <!-- </ion-item> -->
                                </ion-col>
            
                                
                            
                                
    
                                <ion-col col-md class="retread1-custom-col-css5" style="margin-left: 1%">

                                        <div style="margin-top: 5px">
                                                <input disabled ng-model-options="{ updateOn: 'blur' }"  type="text"  [ngModel]="mich_avg_cost | number: '1.0-0'" class="big-input" placeholder="0" style="text-align:right;width:50%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: bold;background: white">
                                                <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}}</span>
                                        </div>
                                        <!-- {{ mich_avg_cost | number: '1.0-0' }}  -->
                                </ion-col>
    
                        </ion-row>
    
                    </ion-col>
                </ion-row>
    
                <ion-row style="margin-left:2%;width:96%">
                        <ion-col width-100 >
                            <ion-row text-wrap>
                                    <ion-col col-md class="retread1-custom-col-css7">
                                            {{"competitor" | translate}}
                                        
                                    </ion-col>
        
                                    <ion-col col-md class="retread1-custom-col-css4">
                                        <!-- <ion-item> -->
                                            <div style="margin-top: 5px">
                                                    <input enumber ng-model-options="{ updateOn: 'blur' }" (focus)="focusValue('comp_price_of_new')" (blur)="captureScreen()" (keypress)="restrictNumeric($event)" (ngModelChange)="calculate_comp_avg_cost(1,$event,false,'comp_price_of_new')"  type="text" [ngModel]="comp_price_of_new | number :0"  class="big-input" placeholder="0" style="text-align:right;width:50%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: normal;">
                                                    <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}}</span>
                                                            <!-- <div class="dollarsign" style="font-size: 16px; font-weight: bold; margin-top:-20px; margin-bottom: 1px;text-align:left;">{{"$" }}</div> -->
                                            </div>
                                        <!-- </ion-item> -->
                                    </ion-col>
                                    
                                    <ion-col col-md class="retread1-custom-col-css4">
                                        <!-- <ion-item> -->
                                     
                                            <div style="margin-top: 5px">
                                                    <input enumber ng-model-options="{ updateOn: 'blur' }" (focus)="focusValue('comp_price_1st_retread')" (blur)="captureScreen()" (keypress)="restrictNumeric($event)"  (ngModelChange)="calculate_comp_avg_cost(2,$event,false,'comp_price_1st_retread')"  type="text" [ngModel]="comp_price_1st_retread | number :0"  class="big-input" placeholder="0" style="text-align:right;width:50%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: normal;">
                                                    <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}}</span>
                                                </div>                    
                                     
                                        <!-- </ion-item> -->
                                    </ion-col>
        
                                   
        
                                   
                            <!-- </ion-row>
                        </ion-col>
                        
                        <ion-col  width-40  style="margin-left: 2%">
                            <ion-row text-wrap> -->
        
                                    <ion-col col-md class="retread1-custom-col-css6" style="margin-left: 1%">
                                        <!-- <ion-item> -->
                                            <div style="margin-top: 5px">
                                                    <input enumber ng-model-options="{ updateOn: 'blur' }" (focus)="focusValue('comp_1st_retread_acceptance')" (blur)="captureScreen()" (keypress)="restrictNumeric($event)"  (change)="calculate_comp_avg_cost(0,$event,true,'comp_1st_retread_acceptance')"  type="number" [(ngModel)]="comp_1st_retread_acceptance"  class="big-input" placeholder="0" style="text-align:right;width:50%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: normal;">
                                                    <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{"%"}}</span>
                                            </div>
                                        <!-- </ion-item>     -->
                                    </ion-col>
                
                                   
                                
                                   
        
                                    <ion-col col-md class="retread1-custom-col-css9" style="margin-left: 1%">
                                            <div style="margin-top: 5px">
                                                    <input disabled ng-model-options="{ updateOn: 'blur' }"  type="text"  [ngModel]="comp_avg_cost | number: '1.0-0'" class="big-input" placeholder="0" style="text-align:right;width:50%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: bold;background: white">
                                                    <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}}</span>
                                            </div>
                                            <!-- {{ comp_avg_cost | number: '1.0-0' }} -->
                                    </ion-col>
        
                            </ion-row>
        
                        </ion-col>
                    </ion-row>
    
                    
    
                    <ion-row style="margin-left:2%;width:96%">
                            <ion-col width-100 >
                                <ion-row text-wrap>
                                        <ion-col col-md class="retread1-custom-col-css8">
                                                {{"pricegap" | translate}}
                                            
                                        </ion-col>
            
                                        <ion-col col-md class="retread1-custom-col-css8">
                                                <div style="margin-top: 5px" >
                                                        <input disabled ng-model-options="{ updateOn: 'blur' }"    type="text" [ngModel]="pricegap_price_of_new | number:0"  class="big-input" placeholder="0" style="text-align:right;width:46%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: bold;background-color: #ECECEC">
                                                        <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}} ({{ pricegap_price_of_new_percentage | number: '1.0-1' }}%)</span>
                                                </div>
                                                <!-- {{ pricegap_price_of_new}}
                                                ({{ pricegap_price_of_new_percentage | number: '1.0-1' }}%)  -->
                                        </ion-col>
                                        
                                        <ion-col col-md class="retread1-custom-col-css8">

                                                <div style="margin-top: 5px" >
                                                        <input disabled ng-model-options="{ updateOn: 'blur' }"    type="text" [ngModel]="pricegap_price1st_retread | number:0"  class="big-input" placeholder="0" style="text-align:right;width:45%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: bold;background-color: #ECECEC">
                                                        <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}} </span>
                                                </div>
                                         
                                                <!-- {{pricegap_price1st_retread}}

                                                ({{ pricegap_price1st_retread_percentage | number: '1.0-1' }}%)                 -->
                                         
                                        </ion-col>
            
                                       
            
                                       
                                <!-- </ion-row>
                            </ion-col>
                            
                            <ion-col  width-40  style="margin-left: 2%">
                                <ion-row text-wrap> -->
            
                                        <ion-col col-md class="retread1-custom-col-css8">
                                               
                                        </ion-col>
                    
                                        
                                    
                                       
            
                                        <ion-col col-md class="retread1-custom-col-css8">

                                                <div style="margin-top: 5px" >
                                                        <input disabled ng-model-options="{ updateOn: 'blur' }"    type="text" [ngModel]="pricegap_avg_cost | number: '1.0-0'"  class="big-input" placeholder="0" style="text-align:right;width:51%;border:0;font-size:1.0em;font-family:Arial;color:#333;font-weight: bold;background-color: #ECECEC">
                                                        <span  style="margin-top:10px;font-size:1.0em;font-family:Arial;color:#333;">{{currency}} ({{ pricegap_avg_cost_percentage | number: '1.0-1' }}%)</span>
                                                </div>
                                                <!-- {{pricegap_avg_cost | number: '1.0-0'}}
                                                ({{ pricegap_avg_cost_percentage | number: '1.0-1'}}%)  -->
                                        </ion-col>
            
                                </ion-row>
            
                            </ion-col>
                        </ion-row>
                <!-- <ion-row text-wrap style="background-color: white;">
                    <ion-col col-md class="retread1-custom-col-css">
                        <ion-item no-lines class="first-row-item">
                            <ion-label class="common-label"><b>{{"michelin" | translate}}</b></ion-label>                    
                        </ion-item>
                    </ion-col>
                    <ion-col col-md class="first-row" style="background:rgb(244,244,244) !important;">
                        <ion-item no-lines class="first-row-item">
                            <div class="stacked-formfield " id = "regroove_offer">
                                <input enumber disabled ng-model-options="{ updateOn: 'blur' }" [(ngModel)]="outilModelObj.regroove_offer" (ngModelChange)="onChange($event, 'regroove_offer')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="" style="margin-top:10px;text-align:center">
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col col-md class="first-row">
                        <ion-row style="height:100%">
                            <ion-col>
                                <ion-item no-lines class="first-row-item">
                                    <div class="stacked-formfield " id = "km_competitor">
                                        <input enumber ng-model-options="{ updateOn: 'blur' }" [(ngModel)]="outilModelObj.km_competitor" (ngModelChange)="onChange($event, 'km_competitor')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0%" style="margin-top:10px;text-align:center">
                                    </div>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col col-md class="first-row">
                        <ion-item no-lines class="first-row-item">
                            <div class="stacked-formfield " id = "km_num_newVehicle">
                                <input enumber ng-model-options="{ updateOn: 'blur' }" [(ngModel)]="outilModelObj.km_num_newVehicle" (ngModelChange)="onChange($event, 'km_num_newVehicle')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0" style="margin-top:10px;text-align:center">
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col col-md class="retread1-custom-col-css">
                        <ion-row style="height:100%">
                            <ion-col style="padding:0px;">
                                <div class="stacked-formfield " id = "km_save_tire">
                                    <input enumber disabled ng-model-options="{ updateOn: 'blur' }" [(ngModel)]="outilModelObj.km_save_tire" (ngModelChange)="onChange($event, 'km_save_tire')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0" style="margin-top:10px;text-align:center">
                                </div>
                            </ion-col>
                     </ion-row>
                    </ion-col>
                    <ion-col  col-md class="header-row">
                        <ion-icon  name="information-circle" style="color:#27509b;margin-top:10%;margin-left: 4px;"></ion-icon>
                    </ion-col>
                </ion-row>  -->
    
                <!-- Retread line -->
              
              <!--  <ion-row text-wrap style="background-color: white;">
                    <ion-col col-md class="retread1-custom-col-css">
                        <ion-item no-lines class="retread1-custom-col-css">
                            <ion-label class="common-label"><b>{{"retread_title" | translate}}</b></ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col col-md class="first-row" >
                        <ion-item no-lines class="first-row-item">
                            <div class="stacked-formfield " id = "retread_offer">
                                <input enumber ng-model-options="{ updateOn: 'blur' }" [(ngModel)]="outilModelObj.retread_offer" (ngModelChange)="onChange($event, 'retread_offer')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0" style="margin-top:10px;text-align:center">
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col  col-md class="first-row" >
                        <ion-row style="height:100%;">
                            <ion-col  style="padding:0px;">
                                <div class="stacked-formfield" id = "retread_michelin">
                                    <input enumber ng-model-options="{ updateOn: 'blur' }" id = "retread_michelin" [(ngModel)]="outilModelObj.retread_michelin" (ngModelChange)="onChange($event, 'retread_michelin')" pattern="[0-9]*" ng-change="fleetChange()" type="text" class="big-input" style="margin-top:10px;color: #333;text-align:center;" placeholder="0%" >
                                </div>
                            </ion-col>
                           
                        </ion-row> 
                    </ion-col>
                    <ion-col col-md class="first-row">
                        <ion-item no-lines class="first-row-item">
                            <div class="stacked-formfield " id = "retread_num_newVehicle">
                                <input enumber ng-model-options="{ updateOn: 'blur' }" [(ngModel)]="outilModelObj.retread_num_newVehicle" (ngModelChange)="onChange($event, 'retread_num_newVehicle')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0" style="margin-top:10px;text-align:center">
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col col-md class="retread1-custom-col-css">
                        <ion-row style="height:100%">
                            <ion-col style="padding:0px;">
                                <div class="stacked-formfield " id = "retread_save_tire">
                                    <input enumber ng-model-options="{ updateOn: 'blur' }" [(ngModel)]="outilModelObj.retread_save_tire" (ngModelChange)="onChange($event, 'retread_save_tire')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0" style="margin-top:10px;text-align:center">
                                </div>
                            </ion-col>
                            
                        </ion-row>
                        
                    </ion-col>
                    <ion-col  col-md class="header-row">
                        <ion-icon name="information-circle" style="color:#27509b;margin-top:10%;margin-left: 4px;"></ion-icon>
                    </ion-col>
                </ion-row>
    
              
    
                <ion-row  text-wrap  style="background-color: white;">
                    <ion-col col-md class="retread1-custom-col-css1">
                        <ion-item no-lines class="first-row-item">
                            <ion-label class="common-label"><b>{{"regroove_title" | translate}}</b></ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col col-md class="first-row" >
                        <ion-item no-lines class="first-row-item">
                            <div class="stacked-formfield " id = "regroove_offer">
                                <input enumber ng-model-options="{ updateOn: 'blur' }" [(ngModel)]="outilModelObj.regroove_offer" (ngModelChange)="onChange($event, 'regroove_offer')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0" style="margin-top:10px;text-align:center">
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col col-md class="first-row">
                        <ion-row style="height:100%;">
                            <ion-col  style="padding:0px;">
                                <div class="stacked-formfield " id = "regroove_michelin">
                                    <input enumber ng-model-options="{ updateOn: 'blur' }" id = "regroove_michelin" [(ngModel)]="outilModelObj.regroove_michelin" (ngModelChange)="onChange($event, 'regroove_michelin')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input"  placeholder="0%" style="margin-top:10px;text-align:center">
                                </div> 
                            </ion-col>
                            
                        </ion-row> 
                    </ion-col>
                    <ion-col  col-md class="first-row">
                        <ion-item no-lines class="first-row-item">
                            <div class="stacked-formfield " id = "regroove_num_newVehicle">
                                <input enumber ng-model-options="{ updateOn: 'blur' }" id = "regroove_num_newVehicle" [(ngModel)]="outilModelObj.regroove_num_newVehicle" (ngModelChange)="onChange($event, 'regroove_num_newVehicle')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0" style="margin-top:10px;text-align:center">
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col col-md class="retread1-custom-col-css1">
                        <ion-row style="height:100%">
                            <ion-col style="padding:0px;">
                                <div class="stacked-formfield " id = "regroove_save_tire">
                                    <input enumber disabled ng-model-options="{ updateOn: 'blur' }" id = "regroove_save_tire" [(ngModel)]="outilModelObj.regroove_save_tire" (ngModelChange)="onChange($event, 'regroove_save_tire')" pattern="[0-9]*" ng-change="fleetChange()" type="text"  class="big-input" placeholder="0" style="margin-top:10px;text-align:center">
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col  col-md class="header-row">
                        <ion-icon name="information-circle" style="color:#27509b;margin-top:10%;margin-left: 4px;"></ion-icon>
                    </ion-col>
                </ion-row> -->
            </ion-grid> 
    
            
                  
                 
            <!-- Consumption line -->
            
            <p> <br>  </p> 

            <ion-row style="margin-left:2%;width:96%;height:140px;margin-top:6%" >
                <ion-col col-width-50  class="retread1-custom-input-value">
    
                    <div style="margin-top:7%">
                        <span style="color:black;font-size:1.2em;font-weight:bold;margin-top:5%">
                            <!-- {{"price_gap" | translate}} -->
                        </span>
                       
                        
                    </div>
                      
    
                     <span style="color:black;font-size:1.2em;margin-top:5%">
                        {{"perceived_gap" | translate}}
                        
                    </span>
                    <br>
                    <span style="color:#27509b;font-size:2em;font-weight:bold;margin-top:5%">
                            {{pricegap | number: '1.0-0' }} {{currency}}
                        </span>

                        <!-- <p style="font-size:30px;margin-top:-10%;margin-left:98%" >&rarr;</p> -->
                       
                </ion-col>
    
                <ion-col col-width-50  class="retread1-custom-input-value1">
    
                    <div style="margin-top:7%">
                            <span style="color:black;font-size:1.2em;">
                                {{"real_gap" | translate}}
                            </span>
                            <br>
                            <span style="color:#27509b;font-size:2em;font-weight:bold;margin-top:5%">
                                {{pricegap_avg_cost  | number: '1.0-0' }} {{currency}}
                            </span>
                    </div>
                    
                    <!-- <p style="font-size:30px;margin-top:-10%;margin-left:-98%" >&rarr;</p> -->
                </ion-col>

               
            </ion-row>
           
    
            
            <!-- <ion-row style="margin-left:2%;width:96%;height:140px;margin-top:6%" >
                    <ion-col col-width-50  class="retread1-custom-input-value">

                            <div style="margin-top:4%">
                                <span style="color:black;font-size:1em;font-weight:bold;margin-top:5%">
                                    {{"price_gap" | translate}}
                                </span>
                               
                                
                            </div>
                              
                             <span style="color:black;font-size:0.8em;margin-top:5%">
                                {{"perceived_gap" | translate}}
                                
                            </span>
                            <br>
                            <span style="color:#27509b;font-size:2em;font-weight:bold;margin-top:5%">
                                    {{pricegap | number: '1.0-0' }} {{currencyName}}
                                </span>
                              

                                <p style="font-size:30px;margin-top:-10%;margin-left:98%" >&rarr;</p>
                        </ion-col>
            
                        <ion-col col-width-50  class="retread1-custom-input-value1">
            
                            <div style="margin-top:7%">
                                    <span style="color:black;font-size:0.8em;">
                                        {{"real_gap" | translate}}
                                    </span>
                                    <br>
                                    <span style="color:#27509b;font-size:2em;font-weight:bold;margin-top:5%">
                                        {{pricegap_avg_cost  | number: '1.0-0' }} {{currencyName}}
                                    </span>
                            </div>

                            <p style="font-size:30px;margin-top:-10%;margin-left:-98%" >&rarr;</p>
                            
                        </ion-col>
              
            </ion-row>
            -->
            
    
            <ion-row >
                <ion-col width-80>
                    <ion-label label-md style="color:black;font-size:0.7em;" >{{"footer_text" | translate}}</ion-label><br>
                    
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
    
                </ion-col>
                <ion-col width-20>
                    <ion-row>
                      <ion-col></ion-col>
                      <ion-col></ion-col>
                      <ion-col style="margin-right:-8%;;margin-top:-11%">
                          <img src="assets/imgs/mich_logo.png"  width="80%" height="80%" >
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row> 
        </div>
    
             
    </ion-content>
          